* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#top {
  scroll-behavior: smooth !important;
}

.animation-blog {
  cursor: pointer;
  transition: all 0.2s ease 0s;
  outline: none;
}

.animation-blog:hover {
  transform: translateY(-5px);
}

.animation-blog:active {
  transform: translateY(-1px);
}

.downloadApp .ant-modal-content {
  background-color: #fff;
  border-radius: 10px;
}
